mixin head
	meta(charset="UTF-8")
	title Project
	link(rel="stylesheet", href="libs/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css")
	link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="libs/owl.carousel/dist/assets/owl.carousel.css")
	link(rel="stylesheet", href="libs/owl.carousel/dist/assets/owl.theme.default.css")
	link(rel="stylesheet", href="css/main.css")
mixin headDist
	meta(charset="UTF-8")
	title Project
	link(rel="stylesheet", href="css/vendor.min.css")
	link(rel="stylesheet", href="css/styles.min.css")